<div id="school_case">
  <p>
    <img src="/images/zhaomu.jpg"/>
  </p>
  <div class="niftys"><br/>
    <h3>&nbsp;<%= @item.title %></h3>
    <div style="padding:10px;">
      <%= @item.info %>
    </div>
  </div>
</div>