<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<!--begin channel body-->
<div  class="page2_body">
  <div class="subcolumns">
    <div class="c50l">
      <div class="subcl">
        <h5>留学指南</h5>
        <ul class="home_news">
          <%  @pro_liuxue_guide.items.find(:all,:order=>"created_at desc",:limit=>12).each  do |item|%>
            <li><%=link_to item.title,item,:style=>"color:#{item.title_style};"%></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="c50r">
      <div class="subcr">
        <h5>移民指南</h5>
        <ul class="home_news">
          <%  @pro_yimin_guide.items.find(:all,:order=>"created_at desc",:limit=>12).each  do |item|%>
            <li><%=link_to item.title,item,:style=>"color:#{item.title_style};"%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="subcolumns">
    <div class="c50l">
      <div class="subcl">
        <h5>申请问答(Q&A)</h5>
        <ul class="home_news">
          <%  @pro_qa_guide.items.find(:all,:order=>"created_at desc",:limit=>12).each  do |item|%>
            <li><%=link_to item.title,item,:style=>"color:#{item.title_style};"%></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="c50r">
      <div class="subcr">
        <h5>表格下载</h5>
        <ul class="home_news">
          <li><a href="/downloads/jiashu.docx">-留学 | 家属表(Family Composition Information)</a></li>
          <li><a href="/downloads/educationandjob.docx">-留学 | 教育和就业细节表(DETAILS OF EDUCATION AND EMPLOYMENT)</a></li>
          <li><a href="/downloads/record.docx"><span class="red">-留学 | 学生签证申请表(Application For A Student Authorization)</span></a></li>
          <li><a href="/downloads/canada_jiazhao_exam.pdf" >-实用 | 加拿大安大略省驾照考试中文试题大全</a></li>
          <li><a href="/downloads/CanadiaCitizenshipTest.docx">-实用 | 加拿大公民入籍考试试题解答</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--end channel body-->
