<div class="note" style="margin:20px;">
  <p>提交报名信息成功!</p>
<p>1.所有注册用户都可以通过在线报名提交信息<br/>
2.报名后,会有callcenter与您联系,咨询相关信息<br/>
3.签约后,程序自动为您生成一个档案号,用于<a href="/welcome/study_sign">查询进程</a>
</p>
<a href="/">返回首页</a>
</div>