<div id="niftys" class="niftys">
<h3 class="niftys_h3">添加新栏目
<%= link_to '添加新栏目', new_project_path,:class=>"niftys_right" %>
</h3>
<%=render :partial=>'form' %>
<%= link_to '返回', projects_path %>
</div>