<div style="float:right;text-align:left;">
<a href="/">网站首页</a>&nbsp;|&nbsp;
<a href="/welcome/aavisa_info">关于我们</a>&nbsp;|&nbsp;
<a href="/contact">联系我们</a>&nbsp;|&nbsp;
<a href="/gnotes/new?t=申请链接">申请链接</a>&nbsp;|&nbsp;
<a href="/career">招贤纳才</a>
</div>
<div style="text-align:left;">
成都亚美经济文化，公司地址：成都市青羊区西大街84号金色夏威夷广场写字楼A407室<br/>
电话：+86-28-6882-2639（直线），+86-28-6882-2538（总机）传真：+86-28-6882-2732<br/>
署ICP备 09030644号 &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://inruby.heroku.com/">inRuby提供技术支持</a>
</div>
<!--google anlyse-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10508960-2");
pageTracker._trackPageview();
} catch(err) {}</script>