<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<style type="text/css">
<!--
#friend_link img {
	background-color: #eee;
	margin: 4px;
	padding: 2px;
}
-->
</style>
<!--
<br/>
<div id="friend_link">
<a href="http://www.cibc.com" target="_blank"><img src="/images/friend_links/bank.gif" width="98" height="80" alt="yamei" /></a>
<a href="http://www.ymclub.com/career/index.php" target="_blank"><img src="/images/friend_links/yiminclub.gif" width="90" height="85" alt="yamei" /> </a>
<a href="" target="_blank"><img src="/images/friend_links/wm.gif" width="83" height="20" alt="yamei" /></a>
<a href="http://www.neea.edu.cn/hwks/hwks.jsp" target="_blank"><img src="/images/friend_links/neea.edu.cn.gif" width="156" height="46" alt="yamei" /> </a>
<a href="http://www.canadabusiness.ca/gol/cbec/site.nsf/en/index.html" target="_blank"><img src="/images/friend_links/canadabusiness.ca.jpg" width="174" height="80" alt="yamei" /></a>
</div>
-->
