<div id="header">
  <div class="logo"><img src="/images/logo.jpg" alt="亚美" longdesc="http://www.aa-visa.com" width="200px;" height="80px;" /></div>
  <div class="menu">
    <div class="top_menu">
      <!-- begin: main navigation #nav -->
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/study">&nbsp;&nbsp;&nbsp;留学移民</a></li>
        <li><a href="/school">&nbsp;&nbsp;国际联合办学</a></li>
        <li><a href="/gpc">加拿大萨省国际商贸合作</a></li>
        <li><a href="/about">关于亚美</a></li>
      </ul>
      <!-- end: main navigation -->
    </div>
    <div class="sub_menu">
      <ul>
        <li>
          <span class="sub_menu_split">&nbsp;</span>
          <a href="/welcome/study_select_country">选择国家</a>
          <a href="/welcome/study_news">最新资讯</a>
          <a href="/school" style="margin-left:30px;">&nbsp;项目介绍</a>
          <span class="sub_menu_block">&nbsp;</span>
          <a href="/welcome/gpc_sa" style="margin-left:10px;">萨省介绍</a>
          <a href="javascript:void(0);">合作方式</a>
          <span class="sub_menu_block">&nbsp;</span>
          <a href="/welcome/aavisa_info">亚美介绍</a>
          <a href="/zizhi/zizi.html" target="_blank">资质荣誉</a>
        </li><li>
          <span class="sub_menu_split">&nbsp;</span>
          <a href="/welcome/study_sign">进程喜讯</a>
          <a href="/welcome/study_guide">申请指南</a>
          <a href="/welcome/school_case" style="margin-left:30px;">&nbsp;联办学校</a>
         <span class="sub_menu_block">&nbsp;</span>
          <a href="javascript:void(0);" style="margin-left:10px;">融资条件</a>
          <a href="javascript:void(0);">成功案例</a>
         <span class="sub_menu_block">&nbsp;</span>
          <a href="/welcome/aavisa_event">最新活动</a>
          <a href="javascript:void(0);">律师团队</a></li>
      </ul>
    </div>
  </div>
</div>