<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="search">
  <form action="/searches" method="get" name="search_form">
   <table width="100%"><tr><td width="60%">
     <a href="mailto:china@aa-visa.com" style="font-size:30px;font-weight:600;color:#ccc;">china@aa-visa.com</a>
   </td><td align="right">
	  <input name="q" type="text" value="输入搜索字段" style="color:#666;" onmouseover="if(this.value=='输入搜索字段')this.value='';" />
      <input type="submit" value="搜 索 " class="red_btn" />
   </td></tr></table>
  </form>
</div>